    @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * 
body {
    margin: 0;
    background: white;
    font-family: 'Roboto', sans-serif;
}
.header,
.main,
.footer {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 200px;
    font-size: 18px;
    color: #F9FAF8; 
}

a {
    text-decoration: none;
    padding: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
}

.main {
    display: flex;
    padding: 10px 200px;
}

.subtext {
    padding-right: 100px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.content {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 20px;
}

img {
    height: 300px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    font-weight: bold;
}

.info {
    max-width: 200px;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.infosec {
    display: flex;
    padding-top: 30px;
    font-size: 18px;
    font-weight: normal;
}

.ore {
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    width: 100px;
    height: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 200px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: light; 
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 50px;
    color: white;
    font-size: 18px;
}

.signtitle {
    font-size: 25px;
    font-weight: bold;
}

.buttondown {
    border-radius: 10px;
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}